.buttons {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 10px;
    border-radius: 4px;
    color: var(--color-accent);
    background-color: var(--color-brand);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    border-color: transparent;
    width: 216px;
    height: 50px;

    &:hover,
    &:focus {
        color: var(--color-accent);
        background-color: #188ce8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
}

