.hero {
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)),
    url(../images/header480x400.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding:118px 0;
   justify-content: center; 
 
    
  @media (min-resolution: 2dppx) {
    .hero {
        background-image: url(../images/header480x400@2x.jpg);
      }
    }
  }  
  @media (min-width: 768px) {
    .hero {
        max-width: 768px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/header768x400.jpg);
    @media (min-resolution: 2dppx) {
        .hero {
          background-image: linear-gradient(rgba(47, 48, 58, 0.4),
              rgba(47, 48, 58, 0.4)),
              url(../images/header768x400@2x.jpg);
        }
      }
   }
 }
@media (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    background-image:linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
         url(../images/header1600x600.jpg);
  @media (min-resolution: 2dppx) {
        .hero {
      background-image:linear-gradient(rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
          url(../images/header1600x600@2x.jpg);
        }
      }
  }
  }
.hero__container{
    padding-top: 58px;
    padding-bottom: 58px;
  @media screen and (min-width: 1200px) {
    padding-top: 106px;
    padding-bottom: 106px;
}
}
.hero-caption {
  color: var(--color-accent);

    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    letter-spacing: .06em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

