.row {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.row__items:not(:last-child) {
    margin-right: 8px;
}

.row__button {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    border-radius: 4px;
    padding: 6px 22px;

    color: var(--color-primery);
    background-color: #f5f4fa;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    border-color: transparent;

    &:hover,
    &:focus {
    color: var(--color-accent);
    background-color: var(--color-brand);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12)
    }
}

