.clients {
    display: flex;
    gap: 30px;

    &__item {
    width: 170px;
    height: 92px;
    }
}



.clients__link {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    fill: #afb1b8;

    &__link:hover,
    &__link:focus {
    fill: var(--color-brand);
    border: 1px solid #2196f3;
    }
}

