body {
    color: var(--color-primery);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
    padding-top: 60px;
    @media screen and (min-width: 768px) {
        padding-top: 80px;
        }
    @media screen and (min-width: 1200px) {
        padding-top: 80px;
    }
}                    
li {
    list-style: none;
}
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

// img {
//     display: block;
//     max-width: 100%;
//     display: flex;
//     height: auto;
// }